# C# files
[*.cs]

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# xUnit1044: Avoid using TheoryData type arguments that are not serializable
dotnet_diagnostic.xUnit1044.severity = silent

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = silent

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# CA2231: Overload operator equals on overriding value type Equals
dotnet_diagnostic.CA2231.severity = silent
